<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interprimos Currency Converter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">


</head>
<body>
    <div class="container-fluid bg-body-secondary">
        <!-- Header  -->
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Simple header</span>
            </a>
    
            <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>
        <!-- Banner (Motivational quote) -->
                <div class="col">
                    <div class="personalCard card-text">
                        <div class="flex-container">
                            <div class="card shadow-sm text-center text-bg-warning">
                                <p class="test">The quick brown fox jumped over the lazy sleeping dog. The dog was so lazy 
                                    that it did not even try to open its eyes to see what was 
                                    happening around it. Twas the first day of winter and everyone was asleep - Dickens, Charles (1887)</p>                                
                            </div>
                        </div>
                    </div>                       
                </div>            
        <!-- Description (About) -->
          <div class="p-5 text-center" style="background-image: url('images/money.jpg')">
          <!-- <div class="p-5 text-center" style="background-image: url('../public/images/money.jpg')"> -->
            <h1 class="jumbotron ">Jumbotron with icon</h1>
            <h2 class="col-lg-8 mx-auto fs-5 jumbotron">
              This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a responsive  class, and a customized call to action.
            </h2>
            <div class="d-inline-flex gap-2 mb-5">
              <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Call to action
                <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
              </button>
            </div>
          </div>
        <!-- Main -->
         <section class="exchange">
            <form id="myForm" action="/submit" method="POST">
                <div>
                    <label class="exchangeLabel" for="">Your Country</label>
                    <select id="yourCountry" name="yourCountry">
                    <option>Select Your Country</option>
                    </select>

                    <label class="exchangeLabel" for="">Foreign Country</label>
                    <select id="foreignCountry" name="foreignCountry">
                    <option>Select Foreign Country</option>
                    </select> 
                </div>
                <div>
                    <label class="exchangeLabel" for="">Your Amount</label>
                    <input type="text" id="yourAmount" name="yourAmount" placeholder="Enter your amount" size="37" required>
                    <input type="submit" value="Go">
                    <label class="foreignLabel" for="">Foriegn Amount</label>
                    <input  type="text" id="foreignAmount" name="foreignAmount" placeholder="Foreign amount" size="37" readonly>
                </div>
                <div>
                    <label class="exchangeRate">Exchange Rate</label>
                    <input  type="text" id="baseAmount" name="baseAmount" value="1" size="24" readonly>
                    <input  type="text" id="baseCurrency" name="baseCurrency" placeholder="Currency" size="6" readonly>
                    <label class="exchangeLabel" for="">Exchange Value</label>
                    <input class="foreignValue"  type="text" id="exchangeAmount" name="exchangeAmount" placeholder="Value" size="24" readonly>
                    <input  type="text" id="exchangeCurrency" name="exchangeCurrency" placeholder="Currency" size="6" readonly>
                </div>          
            </form>
            <script>
                // Create list of countries in dropdown for both donor and recipient countries.
                var yourCountry = document.getElementById("yourCountry");
                var foreignCountry = document.getElementById("foreignCountry");
                var countryList = ["Afghanistan (AFN )", "Albania (ALL )", "Algeria (DZD )", "Angola (AOA )", "Argentina (ARS )", 
                "Armenia (AMD )", "Aruba (AWG )", "Australia (AUD )", "Azerbaijan (AZN )", "Bahamas (BSD )", "Bahrain (BHD )", 
                "Bangladesh (BDT )", "Barbados (BBD )", "Belarus (BYN )", "Belize (BZD )", "Bermuda (BMD )", "Bhutan (BTN )", 
                "Bolivia (BOB )", "Bosnia and Herzegovina (BAM )", "Botswana (BWP )", "Brazil (BRL )", "Brunei (BND )", 
                "Bulgaria (BGN )", "Burundi (BIF )", "Cambodia (KHR )", "Canada (CAD )", "Cape Verde (CVE )", "Cayman Islands (KYD )", 
                "CEMAC (XAF )", "CFA (XOF )", "Chile (CLP )", "China (CNY )", "Colombia (COP )", "Comoros (KMF )", "Costa Rica (CRC )", 
                "Croatia (HRK )", "Cuba (CUP )", "Czech Republic (CZK )", "Democratic Republic of the Congo (CDF )", "Denmark (DKK )", 
                "Djibouti (DJF )", "Dominican Republic (DOP )", "Egypt (EGP )", "Eritrea (ERN )", "Eswatini (SZL )", "Ethiopia (ETB )", 
                "European Union (EUR )", "Falkland Islands (FKP )", "Faroe Islands (FOK )", "Fiji (FJD )", "Georgia (GEL )", "Ghana (GHS )", 
                "Gibraltar (GIP )", "Guatemala (GTQ )", "Guernsey (GGP )", "Guinea (GNF )", "Guyana (GYD )", "Haiti (HTG )", 
                "Honduras (HNL )", "Hong Kong (HKD )", "Hungary (HUF )", "Iceland (ISK )", "India (INR )", "Indonesia (IDR )", 
                "Iran (IRR )", "Iraq (IQD )", "Isle of Man (IMP )", "Israel (ILS )", "Jamaica (JMD )", "Japan (JPY )", "Jersey (JEP )", 
                "Jordan (JOD )", "Kazakhstan (KZT )", "Kenya (KES )", "Kiribati (KID )", "Kuwait (KWD )", "Kyrgyzstan (KGS )", "Laos (LAK )", 
                "Lebanon (LBP )", "Lesotho (LSL )", "Liberia (LRD )", "Libya (LYD )", "Macau (MOP )", "Madagascar (MGA )", "Malawi (MWK )", 
                "Malaysia (MYR )", "Maldives (MVR )", "Mauritania (MRU )", "Mauritius (MUR )", "Mexico (MXN )", "Moldova (MDL )", 
                "Mongolia (MNT )", "Morocco (MAD )", "Mozambique (MZN )", "Myanmar (MMK )", "Namibia (NAD )", "Nepal (NPR )", 
                "Netherlands Antilles (ANG )", "New Zealand (NZD )", "Nicaragua (NIO )", "Nigeria (NGN )", "North Macedonia (MKD )", 
                "Norway (NOK )", "Oman (OMR )", "Pakistan (PKR )", "Panama (PAB )", "Papua New Guinea (PGK )", "Paraguay (PYG )", "Peru (PEN )", 
                "Philippines (PHP )", "Poland (PLN )", "Qatar (QAR )", "Romania (RON )", "Russia (RUB )", "Rwanda (RWF )", "Saint Helena (SHP )", 
                "Samoa (WST )", "São Tomé and Príncipe (STN )", "Saudi Arabia (SAR )", "Serbia (RSD )", "Seychelles (SCR )", "Sierra Leone (SLE )", 
                "Singapore (SGD )", "Solomon Islands (SBD )", "Somalia (SOS )", "South Africa (ZAR )", "South Korea (KRW )", "South Sudan (SSP )", 
                "Sri Lanka (LKR )", "Sudan (SDG )", "Suriname (SRD )", "Sweden (SEK )", "Switzerland (CHF )", "Syria (SYP )", "Taiwan (TWD )", 
                "Tajikistan (TJS )", "Tanzania (TZS )", "Thailand (THB )", "The Gambia (GMD )", "Tonga (TOP )", "Trinidad and Tobago (TTD )", 
                "Tunisia (TND )", "Turkey (TRY )", "Turkmenistan (TMT )", "Tuvalu (TVD )", "Uganda (UGX )", "Ukraine (UAH )", 
                "United Arab Emirates (AED )", "United Kingdom (GBP )", "United States (USD )", "Uruguay (UYU )", "Uzbekistan (UZS )", 
                "Vanuatu (VUV )", "Venezuela (VES )", "Vietnam (VND )", "Yemen (YER )", "Zambia (ZMW )", "Zimbabwe (ZWL )", ];

                for(var i = 0; i < countryList.length; i++) {
                    var opt = countryList[i];
                    var el = document.createElement("option");
                    el.textContent = opt;
                    el.value = opt;
                    yourCountry.appendChild(el);
                }

                for(var i = 0; i < countryList.length; i++) {
                    var opt = countryList[i];
                    var el = document.createElement("option");
                    el.textContent = opt;
                    el.value = opt;
                    foreignCountry.appendChild(el);
                }
            </script>
         </section>
        <!-- Footer -->
        
         <section class="footer">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                  <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
                </div>     
             </footer>
         </section>
    




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </div>
</body>
</html>