.personalCard {
    max-width: 50%;
    margin-left: 25%;
    
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
  }

.card-text {
    word-wrap: break-word;
    overflow: hidden;
    /* background-color: blue; */  
}

.test {
    color: blue;
}

.jumbotron {
    color: rgb(17, 27, 48);
    font-weight: bolder;
}

.foreignLabel {
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 108px;
    font-weight: bolder;
}

.exchangeLabel {
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 150px;
    font-weight: bolder;
}

.exchangeRate {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 145px;
    font-weight: bolder;
}

.foreignValue {
    margin-left: 9px;
}


.footer {
    margin-top: 50px;
    /* margin-left: 30px; */
}

.exchange {
    padding-top: 50px;
    margin-top: 55px;
    margin-left: 190px;
    margin-bottom: 0px;
}