.personalCard {
    max-width: 50%;
    margin-left: 25%;
    
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
  }

.card-text {
    word-wrap: break-word;
    overflow: hidden;
    /* background-color: blue; */  
}

.test {
    color: blue;
}

.jumbotron {
    color: rgb(17, 27, 48);
    font-weight: bolder;
}